<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config></context:annotation-config>
	<!-- <context:component-scan
  base-package="com.zensar.beans" />
  <context:property-placeholder location="data.properties"/> -->


<bean id="E1" class="com.zensar.beans.Employee" autowire="byName">
		<property name="EmployeeId" value="90"></property>
		<property name="EmployeeName" value="AlphaC"></property>
		<property name="EmployeeAge" value="90" />
		
	</bean>

	<bean name="department" class="com.zensar.beans.Department">
		<property name="deptId" value="007"></property>
		<property name="deptName" value="Software"></property>
		
	</bean>
	
	<bean id="NonTech" class="com.zensar.beans.Department">
		<property name="deptId" value="9086"></property>
		<property name="deptName" value="HR"></property>
	</bean>
	
	


	
	 
</beans>
